var content = '';
<% message.each do |m| %>
  content += '<p><%= m %></p>';
<% end %>
$('#calc-messages-block').html(content);
$('#calc-messages-block').removeClass('text-success').addClass('text-danger');
